{% layout 'layout.liquid' %}

<!-- edit form for lists -->

{% block content %}

<div class="container-md">
    <form action="/anime/list/mine/{{list._id}}?_method=PUT" method="POST">
        <fieldset>
            <legend>Edit your list</legend>
            <label class="form-label">Name:</label>
            <input 
                class="form-control" 
                type="text" 
                name="name" 
                placeholder="enter name"
                value="{{list.name}}"
            >
            <label class="form-label">Description:</label>
            <input 
                class="form-control" 
                type="text" 
                name="description" 
                placeholder="enter description"
                value="{{list.description}}"
            >
            <label class="form-label">Tags:</label>
            <input 
                class="form-control" 
                type="text" 
                name="tags" 
                placeholder="add tags"
                value="{{list.tags}}"
            >
        </fieldset>
        <input 
            type="submit"  
            value="Edit {{list.name}}" 
            class="btn btn-success"
        >
    </form>
</div>

{% endblock %}