{% layout 'layout.liquid' %}

{% block content %}
 <!-- for loop inside for loop? -->
 <!-- <script>console.log(anime.data[1])</script> -->
 
 
 <!-- multiple for loops parses through the index, but shows multiple entries per loop -->
 
    {% for animeEntry in anime.data %}
        
            <div class="card" style="width: 18rem">
                <h3>Mal ID is: {{animeEntry.mal_id}}</h3>
                <!-- <h3>Info is:{{data.data[0].images.jpg.image_url}}</h3> -->
                <h3>Anime Title is:{{animeEntry.title}}</h3>
                <a href="/anime/{{animeEntry.mal_id}}">
                    <img src="{{animeEntry.images.jpg.image_url}}">
                </a>
            </div>
        
    {% endfor %}
    <!-- need href to links to each show page for each show ('/anime/:mal_id') -->
      
    

{% endblock %}