{% layout 'layout.liquid' %}

{% block content %}

<!-- displays anime based on user's query -->
<div id="show-card">
    <div class="row row-cols-1 row-cols-md-1 g-4">
        {% for animeEntry in anime.data %}
            <div class="card border-dark mb-3 text-center" style="max-width: 800px">
                <div class="row g-0">
                    <div class="col-md-4">
                        <img src="{{animeEntry.images.jpg.large_image_url}}" class="img-fluid rounded-3" id="img-id">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">{{animeEntry.title}}</h5>
                                <p class="card-text" style="max-height: 250px">
                                    {{animeEntry.synopsis}}
                                </p>
                            <div class="row align-items-end">
                                {% for genre in animeEntry.genres %}
                                    <div class="col-md-4">
                                        <p class="card-text"><small class="text-muted">{{genre.name}}</small></p>
                                    </div>
                                {% endfor %}
                                {% for theme in animeEntry.themes %}
                                    <div class="col-md-4">
                                        <p class="card-text fs-6"><small class="text-muted">{{theme.name}}</small></p>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    <!-- place synopsis here on show page -->
                </div>
                <a href="/anime/{{animeEntry.mal_id}}" class="btn btn-secondary" id="view-button">
                    View
                </a>
            </div>
        {% endfor %}
    </div> 
</div> 

    <!-- <div class="card" style="width: 18rem">
        <h3>Mal ID is: {{animeEntry.mal_id}}</h3>
        <h3>Anime Title is:{{animeEntry.title}}</h3>
        <a href="/anime/{{animeEntry.mal_id}}">
            <img src="{{animeEntry.images.jpg.image_url}}">
        </a>
    </div> -->
    <!-- need href to links to each show page for each show ('/anime/:mal_id') -->
      
    

{% endblock %}