{% layout 'layout.liquid' %}

{% block content %}
 

this should show a single anime from search
    
<!-- the rems lol -->
<div class="card" style="width: 100rem">
    <h3>Mal ID is: 1 {{anime.data.mal_id}}</h3>
    <!-- <h3>Info is:{{data.data[0].images.jpg.image_url}}</h3> -->
    <h3>Anime Title is:{{anime.data.title}}</h3>
    <h3>{{anime.data.synopsis}}</h3>
    <img src="{{anime.data.images.jpg.image_url}}">
    <button><input type="Title" value="Add {{anime.data.mal_id}}" class="btn btn-success"></button>
</div>


{% endblock %}