{% layout 'layout.liquid' %}

<!-- shows a single anime from search -->

{% block content %}
 
    
<!-- the rems lol -->
<div class="card" style="width: 100rem">
    <h3>Mal ID is: {{anime.data.mal_id}}</h3>
    <!-- <h3>Info is:{{data.data[0].images.jpg.image_url}}</h3> -->
    <h3>Anime Title is:{{anime.data.title}}</h3>
    <h3>{{anime.data.synopsis}}</h3>
    <img src="{{anime.data.images.jpg.image_url}}">
    
    <form action="/anime/create" method="POST">
        <input type="text" name="title" value={{anime.data.title}} hidden>
        <input type="text" name="mal_id" value={{anime.data.mal_id}} hidden>
        <input type="text" name="image" value={{anime.data.images.jpg.image_url}} hidden>
        <label>Add to which list?</label>
            <select name="list">
                {% for list in lists %}
                    <option value={{list._id}}>{{list.name}}</option>
                {% endfor %}
            </select>
        <button><input type="Title" value="Add Anime" class="btn btn-success"></button>
    </form>
</div>


{% endblock %}