{% layout 'layout.liquid' %}


{% block content %}
<!-- <div class="container">
    <form action="/anime/search" method="POST">
        <fieldset class="start">
            <legend>Search Anime</legend>
            <label>Anime</label>
            <input 
                type="text" 
                name="anime"
            >
            <input 
            type="submit" 
            value="Search" 
            >
        </fieldset>
    </form>
</div> -->
    <h1>Here are some popular anime!</h1>
    {% for animeEntry in anime.data %}
        <div class="card" style="width: 18rem">
            <h3>Mal ID is: 1 {{animeEntry.mal_id}}</h3>
            <!-- <h3>Info is:{{data.data[0].images.jpg.image_url}}</h3> -->
            <h3>Anime Title is:{{animeEntry.title}}</h3>
            <a href="/anime/{{animeEntry.mal_id}}">
                <img src="{{animeEntry.images.jpg.image_url}}" width="286" height="340">
            </a>
        </div>
    {% endfor %}

{% endblock %}