{% layout 'layout.liquid' %}

<!-- this holds user's anime in a list -->
<!-- needs a button to display anime on MAL -->
<!-- needs remove button -->

{% block content %}
    <h3>{{list.name}}</h3>
    {% for anime in list.anime %}
        <div class="card" style="width: 18rem">
            <h3>Mal ID is: {{anime.mal_id}}</h3>
            <!-- <h3>Info is:{{data.data[0].images.jpg.image_url}}</h3> -->
            <h3>Anime Title is: {{anime.title}}</h3>
            <a href="/anime/{{anime.mal_id}}">
                <img src="{{anime.image}}">
            </a>
        </div>
    {% endfor %}
    

{% endblock %}