{% layout 'layout.liquid' %}

<!-- this holds user's anime in a list -->


{% block content %}
    Anime GOES HERE
    {% for animeEntry in anime.data %}
        <div class="card" style="width: 18rem">
            <h3>Mal ID is: 1 {{animeEntry.mal_id}}</h3>
            <!-- <h3>Info is:{{data.data[0].images.jpg.image_url}}</h3> -->
            <h3>Anime Title is:{{animeEntry.title}}</h3>
            <a href="/anime/{{animeEntry.mal_id}}">
                <img src="{{animeEntry.images.jpg.image_url}}">
            </a>
        </div>
    {% endfor %}
    

{% endblock %}