{% layout 'layout.liquid' %}

<!-- this holds user's anime in a list -->
<!-- needs a button to display anime on MAL -->
<!-- needs remove button -->

{% block content %}
    <h3>{{list.name}}</h3>
    {% for anime in list.anime %}
        <div class="card" style="width: 18rem">
            <h3>Anime Title is: {{anime.title}}</h3>
            <img src="{{anime.image}}">
            <a href="/anime/{{anime.mal_id}}" class="btn btn-info">View</a>
            <form action="/anime/delete/{{list._id}}/{{anime._id}}?_method=DELETE" method="POST">
                <input type="submit" value="Delete" class="btn btn-danger">
            </form>
        </div>
    {% endfor %}
    

{% endblock %}